{% extends './base.html' %}

{% block title%} Devolver libro {% endblock %}


{% block body %}

<h1>Devolver Libro</h1>
    <form method="POST" action="/devolver_libro">
        <label for="prestamo_id">Selecciona un préstamo:</label>
        <select name="prestamo_id" id="prestamo_id">
            {% for prestamo in prestamos %}
                <option value="{{ prestamo.id }}">{{ prestamo.libro.titulo }} - {{ prestamo.usuario.nombre }}</option>
            {% endfor %}
        </select>
        <button type="submit">Devolver Libro</button>
    </form>


{% endblock %}